.CFUserTextEncoding
.DS_Store
.MacOSX/
.android/
.bash_history
.bash_profile
.config/
.dropbox/
.gem/
.guard_history
.irb_history
.lesshst
.local/
.oh-my-zsh/
.rbenv/
.ssh/
.subversion/
.viminfo
.vim/.netrwhist
.zcompdump
.zsh-update
.zsh_history
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
git/
