
.CFUserTextEncoding
.DS_Store
.MacOSX/
.VirtualBox/
.android/
.bash_history
.bash_profile
.config/
.dropbox/
.gem/
.gimp-*/
.gnome*/
.guard_history
.irb_history
.lein/
.lesshst
.local/
.mono/
.rbenv/
.ssh/
.subversion/
.thumbnails/
.Trash/
.vim/.netrwhist
.vim/backup/
.vim/bundle/vim-ps1
.viminfo
.zcompdump
.zsh-update
.zsh_history
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
Library/
Links/
Movies/
Music/
Pictures/
Public/
Saved Games/
Searches/
Videos/
_viminfo
_vimrc
git/
ntuser.*
vimfiles/
