[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule ".vim/bundle/fsharp-vim"]
	path = .vim/bundle/fsharp-vim
	url = git@github.com:kongo2002/fsharp-vim.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-arduino-syntax"]
	path = .vim/bundle/vim-arduino-syntax
	url = git@github.com:sudar/vim-arduino-syntax.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
