[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "Windows-PowerShell-Syntax-Plugin"]
	path = Windows-PowerShell-Syntax-Plugin
	url = git@github.com:vim-scripts/Windows-PowerShell-Syntax-Plugin.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "fsharp"]
	path = fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
